
        * {
            margin: 0;
            padding: 0;
        }

        body 
        {
            font-family: cursive , "Edu NSW ACT Cursive";
            font-optical-sizing: auto;
            font-style: normal;
        }

        body{
            width:100%;
            font-size: small;
        }

        nav {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            width:100%;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 100;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        nav a {
            margin-right: 20px;
            text-decoration: none;
            color : white;
            display: inline-block;
            padding: 15px 10px;
            font-size: large;
        }

        nav a:visited{
            color: black;
        }

        .nav-icon {
            color:white;
            float:right;
            margin-top: 20px;
            margin-right: 20px;
            display: none;
            font-size: 24px;
        }

        .nav-button {
            display: none;
        }

        @media all and (max-width:858px){
            nav {
                min-height: 50px;
                position: relative;
            }

            nav a {
                display: none;
                width: 100%;
                text-align: center;
                padding: 15px 20px;
                margin-right: 0;
                font-size: small;
                height: 10px;
            }

            .nav-icon {
                display: block;
                position: absolute;
                top: 15px;
                right: 20px;
                float: none;
                margin: 0;
            }

            .nav-button {
                position: absolute;
                width: 30px;
                height: 30px;
                top: 12px;
                right: 15px;
            }

            .nav-button:checked ~ a {
                display: block;
            }

        }


        .common-header {
            font-style: italic;
            font-weight: bold;
            text-align: center;
            padding-top: 15px;
        }

        .home-section {  
            width: 100%;
            margin-top: 0px;
            overflow: auto;
        }

        .col-1{
            float:left;
            width:45%;
        }

        .col-2{
            margin:5% 5%;
            float:right;
            width:45%;
            text-align: justify;
            font-size: small;
        }

        .col-1 img{
            width: 80%;
            height:auto;
            margin-left: 12%;
        }

        @media all and (min-width:600px){

            .col-1 img{
                width: 50%;
                margin-left: 25%;
            }

            .col-2{
                font-size: large;
            }

             .exploreMore a {
                    text-decoration: none;
                    color: white;
                }

            .exploreMore {
                    /* display: inline; */
                    margin-top: 20px;
                    padding: 10px 20px;
                    width: 120px;
                    border: 2px solid black;
                    font-weight: bold;
                    border-radius: 5px;
                    background-color: #667eea;
                } 

             .exploreMore:hover {
                    background-color: violet;
                }
        }


        .intro-section {
            background: linear-gradient(135deg,#e0c3fc  0%, #764ba2 0%,  #667eea 100%);
            text-align: justify;
            color:#ffffff;
            width: 100%;
          
        }
        
        .intro-passage{
            padding: 3.5% 7.14%;
        }

        .col-div{
            padding: 3.5% 3.5%;
            margin: 1% 3% 3% 0%;  
            text-align: justify;
        }

        .col-sec{
            margin: 1% 3% 3% 6%;
            margin-bottom: 10px;;  
        }

        .col-div span {
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
            text-decoration: underline;
            margin-bottom: 10px;
            display: block;
        }

        .col-div:hover {
            background: radial-gradient(circle, rgba(102,126,234,1) 0%, rgba(39, 5, 73, 0.8) 100%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }


        @media all and (min-width:600px){
            .intro-section{
                font-size: large;
            }

            .col-sec{
                margin:1% 5%;
            }
            .col-div{
                display: inline-block;
                width: 25%;
                padding : 2.5% 2.5%;
            }
        }

         ol {
            padding: 3.5% 7.14%;
            margin-bottom: 2%;
            text-align: justify;
            color: rgb(176, 52, 201);
            font-weight: 600;
        }

        li {
            margin-bottom: 7%;
            list-style-position: outside;
        }

        .my-mission-image {
            width: 70%;
            height:50%;
            border-radius: 10px;
            margin:1% 15% 5% 15%;
            display: block;
        }

        @media all and (min-width:900px){
            ol{
                float:left;
                width:40%;
                font-size: large;;
            }

            .my-mission-image {
                float:right;
                width:35%;
                height:40%;
                margin:4% 10% 10% 0%;
            }
        }

        .my-Team {
            background-color: #667eea;
            position: relative;
        }
       
        .figure-Img {
            padding: 7.2% 0%;
        }

        .figure-Img img {
            width: 100%;   
            border-radius: 2px;
        }

        .figure-Img div {
            position: relative;
            text-align: center;
            font-weight: bold;
            margin: 10% 0;
        }

        .figure-Img figcaption {
            text-align: justify;
        }

        @media all and (min-width:660px){
            .figure-Img{
                display: inline-block;
                width: 20%;
                padding: 3% 2%;
            }

            .figure-Img img {
                width: 100%;   
                height:15%;
            }    
          
        }

        .login-section {
            text-align: center;
            color:#764ba2;
        }

        /* 70/896 = 0.078125 */
        /* 10/414 */
        /* 400/414 =  */
        .login-section form {
            margin: 7.8% 2.4%;
            width: 96.7%;
            background: linear-gradient(135deg, #e0c3fc 0%, #b8c7ff 45%, #667eea 100%);
            border-radius: 2px;;
        }

        .login-section fieldset {
            border: none;
            padding: 20px 20px 10px 20px;
        }

        .login-section label {
            display: block;
            margin: 20px 0 25px 0;
            font-weight: bold;
            padding: 10px 10px;
            width: 100%;
            font-size: x-large;
        }

        .login-section input {
            width: 50%;
            padding: 10px 10px;
            font-size: medium;
            border-radius: 5px;
            border: 1px solid gray;
        }

        .login-button , 
        legend {
            background: linear-gradient(135deg, #764ba2, #667eea);
            color: white;
            font-weight: bold;
            font-size: large;
            border-radius: 5px;
            padding: 10px 20px;
        }

        .login-button:hover {
            color: black;
        }

        @media all and (min-width:660px){
            .login-section form {
                margin: 7.8% 28.4%;
                width: 45.2%;
            }
        }

        .register-section {
            background: linear-gradient(135deg, #667eea 0%, #885f84 50%, #764ba2 100%);
            color: white;
            text-align: center;
        }

        .form-field {
            margin-bottom: 2.2%;
            width: 100%;
            position: relative;
        }

        .form-field label {
            display: block;
            font-weight: bold;
            margin-left: 11.2%;
            margin-bottom: 5%;;
            text-align: left;
            position: relative;
            font-style: italic;
        }
  
        .form-field .inputclass,  .form-field textarea{
            width: 25%;
            padding:2% 3%;
            border-radius: 3px;
            border: 1px solid gray;
            position: absolute;
            left: 50%;
        }

        .form-field .inputclass{
            height:50%;
        }

        .register-section input::placeholder {
            font-size: small;
            color: blue;
        }

        /* 160/ 414 =  */
     .radio-button {
            margin-left: 40%;
            margin-bottom: 2px;
            position: relative;
            top:-30px;
            height: 30px;
        }

        .radio-button input {
            margin-right: 10px;
        }

        .check-button {
            margin-left: 49%;
            margin-bottom: 0px;
            position: relative;
            top:-25px;
        }

        .check-button input {
            margin-right: 10px;
        }

        .register-section fieldset {
            margin-top: 20px;
            border: none;
        }    

        .register-button{
            font-weight: bold;
            border-radius: 5px;
            padding: 10px 20px;
            margin-top: 50px;
            margin-bottom: 10px;
        }

        .register-button:hover {
             background: linear-gradient(135deg, #764ba2, #667eea);
            color: white;
        }

        @media all and (min-width:660px){

            .form-field {
                font-size: large;
                font-weight: bold;
            }

            .form-field label {
                margin-left: 30%;
                margin-bottom: 3%;
                font-weight: bold;
                font-size: x-large;
            }

            .form-field .inputclass,  .form-field textarea{
                width: 20%;
                position: absolute;
                left: 40%;
            }

            .form-field .inputclass{
                height:5%;
            }
                  
            .radio-button {
                margin-left: 25%;
            }

            .check-button {
                margin-left: 40%;
            }

            .register-button{
                font-size: large;
            }   
        }

        .agendaClass {
            color: #764ba2;
            padding-bottom: 50px;
        }

        .agendaClass table {
            width: 80%;
        }

        .agendaClass th,
        tfoot td {
            background-color: #667eea;
            color: white;
        }

        .agendaClass table, 
        th, 
        td {
            margin: 0 auto;
            border-collapse: separate;
            vertical-align: middle;
            text-align: center  ;
            padding: 10px;
        }

        

        .agendaClass tbody tr:nth-child(even) {
            background-color: #ddccdb;
        }

       .agendaClass tr:first-child th {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
       }

         .agendaClass tfoot tr td {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
         }

        @media all and (min-width: 660px)
        {
            .agendaClass table, 
            th, 
            td {
                font-size: large;
            }
        }